name: autofix.ci
on:
  pull_request:
  push:
    branches: ["main"]
permissions:
  contents: write
  pull-requests: write

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Format with Prettier
        run: npm run format

      - name: Lint & Fix
        run: npm run lint:fix

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
